#crowdspell-editor {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    font-family: Rockwell, Georgia, sans-serif;
    background: #111;
    padding: 20px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-left: none;
    border-right: none;
}

#crowdspell-editor[data-open] {
    display: block;
}

#crowdspell-editor h3 {
    margin-top: 0;
    color: inherit;
}

#crowdspell-editor .crowdspell-label {
    margin: 5px 0px;
    font-weight: bold;
    border-bottom: 2px solid #fff;
    display: inline-block;
}

#crowdspell-editor .crowdspell-actions {
    margin-top: 5px;
}

#crowdspell-editor textarea {
    width: 60%;
    height: 70px;
}

#crowdspell-editor button {
    padding: 6px;
    background: white;
    color: #333;
    border: 1px solid #eee;
    border-radius: 3px;
}

#crowdspell-editor #crowdspell-button-close {
    cursor: pointer;
}

#crowdspell-editor #crowdspell-button-close:hover {
    cursor: pointer;
}

#crowdspell-editor #crowdspell-button-save {
    background: #77BD2B;
    border: 1px solid #A9DF6E;
    color: #FFFFFF;
    padding: 12px 11px;
    font-family: Rockwell, sans-serif;
    font-size: 20px;
    cursor: pointer;
}

#crowdspell-editor #crowdspell-button-save:hover {
    cursor: pointer;
}

/*********************************************
  * UI BUBBLE
  *********************************************/
a.crowdspell-button {
    font-size: 16px;
    color: #fff;
    display: block;
    text-decoration: none;
    font-family: Rockwell, sans-serif;
    line-height: 40px;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

a.crowdspell-button:visited,
a.crowdspell-button:hover {
    color: #fff;
    text-decoration: none;
}

.text-options {
    -webkit-transition: opacity 250ms, margin 250ms;
    -moz-transition: opacity 250ms, margin 250ms;
    -ms-transition: opacity 250ms, margin 250ms;
    -o-transition: opacity 250ms, margin 250ms;
    transition: opacity 250ms, margin 250ms;
    position: absolute;
    left: -999px;
    top: -999px;
    color: #fff;
    height: 0px;
    width: 0px;
    z-index: 5;
    margin-top: 5px;
    opacity: 0;
}

.text-options.fade {
    opacity: 0;
    margin-top: -5px;
}

.text-options.active {
    opacity: 1;
    margin-top: 0px;
}

.options {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    border-radius: 5px;
    margin-left: -63px;
    margin-top: -46px;
    z-index: 1000;
    width: 125px;
    height: 40px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    text-align: center;
}

.options:before {
    content: "";
    border-top: 5px solid rgba(0, 0, 0, 0.9);
    border-bottom: 5px solid transparent;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    margin-left: -5px;
    bottom: -15px;
    height: 5px;
    width: 0px;
    left: 50%;
}
